/* ------------------------------------------------------------ *\
    Reset
\* ------------------------------------------------------------ */

* { padding: 0; margin: 0; box-sizing: border-box; }

/* ------------------------------------------------------------ *\
    Wrapper
\* ------------------------------------------------------------ */

.wrapper { margin-top: 50px; }

/* ------------------------------------------------------------ *\
    Common Shell
\* ------------------------------------------------------------ */

.shell { margin: 0 auto; max-width: 780px; }

/* ------------------------------------------------------------ *\
    Form
\* ------------------------------------------------------------ */

form { text-align: center; }